body{
    text-align: center;
    background-color: rgb(236, 240, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link{
    color: lightgreen;
}
a:visited{
    color: darkgreen;
}
a:hover{
    color: orange;
}

.img-circle{
    display: block;
    margin-right: auto; /*used auto to center the image*/
    margin-left: auto;
    margin-top: 10pt;
    width: 15%;
    border-radius: 30%;
}
.change_name{
    size: 12;
    letter-spacing: 0px;
    font-weight: bold;
}
.section{
    border-style: dashed;
    border-width: medium;
    border-color: rgb(0, 0, 0); 
    border-radius: 5%;
}
.emph
{
    color: rgb(255, 115, 0);
    font-style: italic;
}
markText{} /* just to apply the class emph*/
.column_count {
    column-count: 2;
}
.column_count p {
    break-inside: avoid;
    margin-top: auto;
}
.bold_date{
    font-weight: bold;
}
/*i added these classes just to make it look better*/
.change_div{
    background-color: rgba(203, 191, 231, 0.774);
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: medium;
    border-radius: 10%;
}
.block_position_size{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}